@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashed-border {
    border-right: 2px dashed #ccc;
    border-bottom: 2px solid #ccc;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
}